#=============用于代理订阅更新===========#
# SubStore
host-suffix, sub.store, 代理订阅
# 飞鸟云
host-suffix, feiniaoyun.info, 代理订阅
# 一元机场
host-suffix, smallstrawberry.com, 代理订阅
# 闪电猫
host-suffix, apiv2.pptiok2020.com, 代理订阅
# 麻雀加速器
host-suffix, v.spwvpn.com, 代理订阅
# 吾爱妞-云加速
host-suffix, lovefsr.xyz, 代理订阅
# 公益机场115Cloud
# > 前端官网
host-suffix, 115it.cc, 代理订阅
# > 后端订阅
host-suffix, sub.115.gay, 代理订阅
# V2frew机场
host-suffix, v1.v2ai.top, 代理订阅